@using MichaelHeenanBlog.Data
@model BlogPostSummary
@{
}

    <div class="card mb-4 border-primary">
        <div class="card-header">
            <span class="align-text-bottom text-left">@Model.DateCreated</span>
            <a class="text-center" asp-page="./ViewSingleBlogPost"
               asp-route-blogPostId="@Model.BlogPostId">
                <h3>@Model.Title</h3>
            </a>
        </div>
        <div class="card-body align-text-top" style="max-height:100px; overflow-y:auto;">
            <p>@Model.Body</p>
        </div>

        <div class="card-footer text-center">

            @if (Model.Tags?.Any() != true)
            {
                <div class="card-footer text-center">
                    <p>Blog Post has no tags</p>
                </div>
            }
            else
            {
                @foreach (var tag in Model.Tags)
                {
                    <a class="badge badge-pill badge-secondary"
                       asp-page="./ViewSingleBlogPost"
                       asp-route-blogPostId="@tag.BlogPostId">
                        @tag.DisplayName
                    </a>
                }
            }
       
        </div>

    </div>