@page "{blogPostId:Guid}"
@model MichaelHeenanBlog.Pages.ViewSingleBlogPostModel
@{
    ViewData["Title"] = "View Single BlogPost";
}

<div class="card mb-4 border-primary">
    <div class="card-header">
        <span class="align-text-bottom text-left">@Model.BlogPost.DateCreated</span>    
        <h3 class="text-center">@Model.BlogPost.Title</h3>
    </div>
    <div class="card-body">
        <p>@Model.BlogPost.Body</p>
    </div>

    <div class="card-footer text-center">

        @if (Model.BlogPost.Tags?.Any() != true)
        {
            <div class="card-footer text-center">
                <p>Blog Post has no tags</p>
            </div>
        }
        else
        {
            @foreach (var tag in Model.BlogPost.Tags)
            {
                <a class="badge badge-pill badge-secondary text-center"
                   asp-page="./ViewSingleBlogPost"
                   asp-route-blogPostId="@tag.BlogPostId">
                    @tag.DisplayName
                </a>
            }
        }

    </div>

</div>

<div class="card mb-4 border-primary">
    
    <div class="card-body">
        @if (Model.Comments?.Any() != true)
        {
            <p>Blog Post has no Comments</p>
        }
        else
        {
            @foreach (var comment in Model.Comments)
            {
                <p>woo comments </p>
            }
        }
    </div>

</div>