@page "{blogPostId:Guid}"
@model MichaelHeenanBlog.Pages.ViewSingleBlogPostModel
@{
    ViewData["Title"] = "View Single BlogPost";
}

<div class="card mb-4 border-primary">
    <div class="card-header">
        <span class="align-text-bottom text-left">@Model.BlogPost.DateCreated</span>    
        <h3 class="text-center">@Model.BlogPost.Title</h3>
    </div>
    <div class="card-body">
        <p>@Model.BlogPost.Body</p>
    </div>

    <div class="card-footer text-center">

        @if (Model.BlogPost.Tags?.Any() != true)
        {
            <div class="card-footer text-center">
                <p>Blog Post has no tags</p>
            </div>
        }
        else
        {
            @foreach (var tag in Model.BlogPost.Tags)
            {
                <a class="badge badge-pill badge-secondary text-center"
                   asp-page="./ViewSingleBlogPost"
                   asp-route-blogPostId="@tag.BlogPostId">
                    @tag.DisplayName
                </a>
            }
        }

    </div>

</div>

<div class="card mb-4 border-primary">
    
    <div class="card-body">
        @if (Model.Comments?.Any() != true)
        {
            <p>Blog Post has no Comments</p>
        }
        else
        {
            @foreach (var comment in Model.Comments)
            {
                <p>@comment.Body</p>
            }
        }
    </div>

</div>

<form method="post">
    <div class="form-group">
        <input type="hidden" asp-for="BlogPostId" value="@Model.BlogPost.BlogPostId" />
        <label>
            Name
            <input asp-for="Comment.Author" type="text" class="form-control" aria-describedby="nameHelp" placeholder="Name">
        </label>
        <small id="nameHelp" class="form-text text-muted">Name</small>
    </div>
    <div class="form-group">
        <label>
            Comment
            <textarea asp-for="Comment.Comment" type="text" class="form-control " cols="150" rows="5" aria-describedby="bodyHelp" placeholder="Comment"></textarea>
        </label>
        <small id="bodyHelp" class="form-text text-muted">Add Comment</small>
    </div>
    <button type="submit" class="btn btn-primary">Comment</button>
</form>