@using MichaelHeenanBlog.Data
@model BlogPostSummary
@{
}

    <div class="card mb-4 border-primary">
        <div class="card-header text-center">
            <a  asp-page="./ViewSingleBlogPost"
                asp-route-blogPostId="@Model.BlogPostId">
                <h3>@Model.Title</h3>
            </a>
        </div>
        <div class="card-body">
            <p>@Model.Body</p>
        </div>

        <div class="card-footer text-center">

            @if (Model.Tags?.Any() != true)
            {
                <div class="card-footer text-center">
                    <p>Blog Post has no tags</p>
                </div>
            }
            else
            {
                @foreach (var tag in Model.Tags)
                {
                    <a class="btn btn-outline-primary"
                       asp-page="./ViewSingleBlogPost"
                       asp-route-blogPostId="@tag.BlogPostId">
                        @tag.DisplayName
                    </a>
                }
            }
       
        </div>

    </div>